@import "tailwindcss";

body {
  padding: 0 20px;
  background-image: linear-gradient(rgb(50, 6, 108), rgb(31, 0, 102));
  min-height: 100vh;
}

.description {
  background-color: rgb(214, 214, 214);
  border: 2px solid rgb(182, 182, 182);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px 20px;
  color: rgb(70, 13, 146);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: fit-content;
}